.wrapper {
  display: flex;
  position: relative;
  font-family: oswald;
}
table {
  border-collapse: collapse;
  text-align: center;
}
tr th {
  background-color: peachpuff;
  padding-left: 150px;
  padding-right: 150px;
}
.items td {
  background-color: peachpuff;
  color: orange;
  font-weight: bold;
  font-size: 20px;
}

.checkout button {
  font-family: oswald;
  margin: 8px;
  border-radius: 4px;
  padding: 5px;
  width: 125px;
  background-color: white;
  color: red;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.checkout button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.checkout button:hover span {
  padding-right: 25px;
}
.checkout button:hover span:after {
  opacity: 1;
  right: 0;
}
.checkout span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.checkout td {
  text-align: center;
}
.checkout .total {
  padding-left: 35px;
}
.total {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
